<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" herf="http.//fonts.googleapis.com/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/turnos.css">
  <link rel="icon" type="image/png" href="/img/logoCMD.png">
  <link rel="stylesheet" href="../css/partialStyles.css">
  <title>Consultorios Médicos David</title>
</head>

<body> <!--START BODY-->
  <header> <!--start header-->
    <%- include('partials/header') %>
  </header>
  <section class="banner">
    <img src="img/salaDeEsperaBlanca.jpg" alt="Banner institucional">
    <h1>Ética profesional al servicio de tu salud.</h1>
  </section>

  <main> <!--ESTUDIOS MEDICOS-->
    <section class="last_visit">
      <div class="practicasMedicasTitle">
        <h3>ESTUDIOS MÉDICOS</h3>
        <a href="/tratamientos">VER TODO</a>
      </div>

      <div class="estudios">
        <% for( let i = 0; i < data.length; i++ ) { %>
          <article class="mb-3" style="position: relative !important;">
            <div class="especialidadImg mb-3" style="background-color: <%= data[i].color %>"><!--FUNCIONA, SÓLO APARECE COMO ERROR--> 
              <span><%= data[i].practica  %></span>
              <p class="practicaBackground"><%= data[i].practica  %></p>
            </div>
            <div class="main_article">
              <p class="description"><%= data[i].practica  %></p>
            </div>
          </article>
          <% } %>
      </div>
    </section>

    <section class="banner">
      <img src="img/banner_contacto_03.png" alt="Banner contacto">

    </section>
    <section id="contacto"> <!--SECTION CONTACTO-->
      <div class="d-flex justify-content-evenly">
        <div class="col-4">
          <h3>UBICACION</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.218285016829!2d-58.54937308477054!3d-34.59864138046075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb78eea744601%3A0x42c802cad54d54ce!2sPadre%20Silberman%201740%2C%20B1676BRP%20Santos%20Lugares%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1663784530531!5m2!1ses!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-4" style="color: #012B78">
          <h3 style="font-weight: bold;">CONTACTO</h3>
          <p><i class="fa-solid fa-clock"></i> Horario de atención: Lun. a Vie. de 8:00 a 19:00 - Sábados de 8:00 a 13:30 </p>
          <p><i class="fa-sharp fa-solid fa-location-dot" style="color: #012b78;"></i> Padre Silberman 1740, Santos Lugares</p>
          <p><i class="fa-solid fa-envelope" style="color: #012b78;"></i> consultoriosmedicosdavid@gmail.com</p>
          <p><i class="fa-solid fa-phone" style="color: #012b78;"></i> 4757-2389</p>
          <p><i class="fa-brands fa-whatsapp" style="color: #012b78;"></i> 11 7020-3287</p>
        </div>
        <div class="contacto-logo">
          <img src="img/logoCMD.png" width="300px" alt="Logo CMD" />
        </div>

      </div>

      </div>

    </section>
  </main>
  <%- include('partials/footer') %>
</body>

</html>