<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <link rel="stylesheet" type= "text/css" herf= "http.//fonts.googleapis.com/css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/turnos.css">
    <link rel="icon" type="image/png" href="/img/logoCMD.png">
    <title>Consultorios Médicos David</title>
</head>
<body> <!--START BODY-->
  <%- include('partials/header') %>

<main>
     <section>   <!--SECTION BANNER TURNOS-->
      <section class="banner-turnos"> 
    <img src="../img/banner_turnos_02.png" alt="Banner turnos">
    <!--<h1>SOLICITA TU TURNO</h1>-->
  </section>
         <section>
             <h3>Mis Turnos</h3>
         </section>
     <section>   <!--SECTION TURNOS-->
      <div class="divTurnosLista">
          <% for (turno of turnos) { %>
            <div class="divTurnos">
              <label class="tituloTurnos">Fecha del turno:</label> <%= turno.fecha_turno %>
              <label class="tituloTurnos">Nombre del profesional:</label> <%= turno.profesional.nombre %>
              <label class="tituloTurnos">Apellido del profesional:</label><%= turno.profesional.apellido %>
                <label class="tituloTurnos">Correo electronico:</label><%= turno.profesional.email %>

                <form action="/turnos/borrar/<%= turno.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Cancelar Turno</button>
            </form>
            </div>

            <% } %>
      </div>
    </section>
    
</main>
<%- include('partials/footer') %>

</body>
</html>