<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Clínica - CMD</title>
    <%- include('../../partials/headPartials.ejs') %>
        <link rel="stylesheet" href="/css/sectionPrestadores/historiaClinica.css">
</head>

<body>
    <header>
        <%- include('../../partials/prestadoresHeader.ejs') %>
    </header>
    <main>
        <h1 class="titula">Historia Clínica</h1>
        <div class="d-flex justify-content-center">
            <div class="d-flex main-container">
                <div class="col" id="imgdiv">
                    <img src="/img/profilepictures/<%= paciente.imagen %>" alt="profile_image" id="profileImg">
                </div>
                <div class="col me-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.nombre  %>">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Apellido</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.apellido %>">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">DNI</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.dni %>">
                    </div>
                </div>
                <div class="col me-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Domicilio</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.domicilio %>">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Email</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.email %>">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Teléfono</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.telefono %>">
                    </div>
                </div>
                <div class="col me-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            Nacimiento
                        </span>
                        <input type="text" class="form-control" disabled value="<%= paciente.nacimiento %>">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Edad</span>
                        <input type="text" class="form-control" disabled value="<%= paciente.edad %>">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div data-bs-spy="scroll" class="main-container" data-bs-target="#navbar-example2" >
                <div class="col">
                    <h3>Datos previos</h3>
                </div>
                <p id="previousDataDiv">
                    <%= historiaClinica.descripcion %>
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="main-container">
                <div class="col">
                    <h3>Agregar datos a la historia clínica</h3>
                </div>
                <input type="textarea" id="descripcioninput" name="nuevosDatos" placeholder="Escriba aquí...">
                <h6 style='font-style: italic; margin: 10px;'>No es necesario que deje por escrito ni la fecha, ni su firma ni su nombre. El sistema lo registra automáticamente.</h6>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="main-container">
                <div class="d-flex justify-content-end">
                    <button disabled="disabled" class="btn btn-success">Guardar cambios</button>
                </div>
            </div>
        </div>
    </main>
    <!-- SCRIPTS -->
    <%- include('../../partials/scriptPartials.ejs') %>
</body>

</html>