<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Médico - CMD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/prestadoresPartials.css">
    <link rel="stylesheet" href="../css/globalFunctions.css">
    <link rel="stylesheet" href="../css/sectionPrestadores/agregarUsuario.css">
    <link rel="icon" type="image/png" href="/img/logoCMD.png">
</head>

<body>
    <header>
        <%- include('../partials/prestadoresHeader.ejs')%>
    </header>
    <main>
        <div class="divFormContainer">
            <h1>Agregar Usuario</h1>
            <form action="/prestadores/agregarMedico" method="POST" enctype="multipart/form-data" id="formAddUser">
                <div class="displayNone alert alert-danger" role="alert" id="divAlert">
                    <ul id="errorList">

                    </ul>
                </div>
                <div class="mb-3">
                    <div class="formMedicoNombre">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo de Usuario</label>
                            <select name="userType" class="form-select" id="userType">
                                <!-- <select class="form-select" id="inputGroupSelect01"> -->
                                <option selected disabled>Seleccionar</option>
                                <option value="1">Administrador</option>
                                <option value="2">Secretaría</option>
                                <option value="3">Médico</option>
                            </select>
                            <% if(locals && locals.errors) {%>
                                <% if (locals.errors.userType) {%>
                                    <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                        <%= locals.errors.userType.msg %>
                                    </h3>
                                    <% } %>
                                        <% } %>
                        </div>
                        <div class="input-group flex-nowrap">
                            <span
                                class="input-group-text <%= locals.errors && errors.alias ? 'inputError' : null %>">@</span>
                            <input type="text"
                                class="form-control <%= locals.errors && errors.alias ? 'inputError' : null %>"
                                placeholder="Nombre de usuario" aria-label="Username" id="alias" name="alias"
                                aria-describedby="addon-wrapping">
                        </div>
                        <% if(locals && locals.errors) {%>
                            <% if (locals.errors.alias) {%>
                                <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                    <%= locals.errors.alias.msg %>
                                </h3>
                                <% } %>
                                    <% } %>
                                        <br>
                                        <div class="input-group mb-3 ">
                                            <span
                                                class="input-group-text <%= locals.errors && errors.password ? 'inputError' : null %>">Contraseña</span>
                                            <input id="password" type="password"
                                                class="form-control <%= locals.errors && errors.password ? 'inputError' : null %>"
                                                name="password" aria-label="Sizing example input" id="password"
                                                placeholder="Debe tener mínimo 6 caracteres."
                                                aria-describedby="inputGroup-sizing-default">

                                        </div>
                                        <% if(locals && locals.errors) {%>
                                            <% if (locals.errors.password) {%>
                                                <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                                    <%= locals.errors.password.msg %>
                                                </h3>
                                                <% } %>
                                                    <% } %>

                                                        <h3>Datos del usuario</h3>
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="exampleFormControlInput1"
                                                                    class="form-label">Nombre(s)*</label>
                                                                <input type="text"
                                                                    class="form-control <%= locals.errors && errors.nombre ? 'inputError' : null %>"
                                                                    id="nombre" name="nombre" placeholder="Nombre">
                                                                <% if(locals && locals.errors) {%>
                                                                    <% if (locals.errors.nombre) {%>
                                                                        <h3 class="errors"><i
                                                                                class="fa-sharp fa-solid fa-xmark"></i>
                                                                            <%= locals.errors.nombre.msg %>
                                                                        </h3>
                                                                        <% } %>
                                                                            <% } %>
                                                            </div>
                                                            <div class="col">
                                                                <label for="exampleFormControlInput1"
                                                                    class="form-label">Apellido(s)*</label>
                                                                <input type="text"
                                                                    class="form-control <%= locals.errors && errors.apellido ? 'inputError' : null %>"
                                                                    id="apellido" name="apellido"
                                                                    placeholder="Apellido">
                                                                <% if(locals && locals.errors) {%>
                                                                    <% if (locals.errors.apellido) {%>
                                                                        <h3 class="errors"><i
                                                                                class="fa-sharp fa-solid fa-xmark"></i>
                                                                            <%= locals.errors.apellido.msg %>
                                                                        </h3>
                                                                        <% } %>
                                                                            <% } %>
                                                            </div>
                                                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email*</label>
                        <input type="email" name="email"
                            class="form-control <%= locals.errors && errors.email ? 'inputError' : null %>" id="email"
                            placeholder="ejemplo@ejemplo.com">
                        <% if(locals && locals.errors) {%>
                            <% if (locals.errors.email) {%>
                                <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                    <%= locals.errors.email.msg %>
                                </h3>
                                <% } %>
                                    <% } %>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Documento*</label>
                            <input type="text"
                                class="form-control <%= locals.errors && errors.dni ? 'inputError' : null %>" name="dni"
                                placeholder="Número de Documento" aria-label="First name" id="dni" pattern="[0-9]+">
                            <% if(locals && locals.errors) {%>
                                <% if (locals.errors.dni) {%>
                                    <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                        <%= locals.errors.dni.msg %>
                                    </h3>
                                    <% } %>
                                        <% } %>
                        </div>
                        <div class="col">
                            <label for="exampleFormControlInput1" class="form-label">Teléfono*</label>
                            <input type="text"
                                class="form-control <%= locals.errors && errors.telefono ? 'inputError' : null %>"
                                placeholder="Número de Teléfono" aria-label="Last name" name="telefono" id="telefono">
                            <% if(locals && locals.errors) {%>
                                <% if (locals.errors.telefono) {%>
                                    <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                        <%= locals.errors.telefono.msg %>
                                    </h3>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Domicilio*</label>
                        <input type="text"
                            class="form-control <%= locals.errors && errors.domicilio ? 'inputError' : null %>"
                            name="domicilio" id="inputAddress" placeholder="Padre Silberman 1740, Santos Lugares">
                        <% if(locals && locals.errors) {%>
                            <% if (locals.errors.domicilio) {%>
                                <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                    <%= locals.errors.domicilio.msg %>
                                </h3>
                                <% } %>
                                    <% } %>
                    </div>
                    <br>
                    <div>
                        <div class="row">
                            <div class="col">
                                <label for="sexo">Sexo*
                                    <div class="form-check">
                                        <input class="form-check-input" name="diaDeAtencion" type="radio" name="sexo"
                                            id="flexRadioDefault1" value="0">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Femenino
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" name="diaDeAtencion" type="radio" name="sexo"
                                            id="flexRadioDefault1" value="1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Masculino
                                        </label>
                                    </div>
                                    <% if(locals && locals.errors) {%>
                                        <% if (locals.errors.sexo) {%>
                                            <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                                <%= locals.errors.sexo.msg %>
                                            </h3>
                                            <% } %>
                                                <% } %>
                            </div>
                            <div class="col">
                                <label for="nacimiento">Fecha de nacimiento</label>
                                <input type="date" name="nacimiento" class="dateInput" min="1915-01-01" id="datefield">
                            </div>
                        </div>
                        <br>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Foto de
                                Perfil</label>
                            <input type="file" class="form-control" id="inputGroupFile01" accept="image/*"
                                name="profileImg">
                        </div>
                    </div>
                </div>
                <div class="displayNone" id="medicData">
                    <h3>Datos del Médico</h3>
                    <div class="col">
                        <label for="exampleFormControlInput1"
                            class="form-label <%= locals.errors && errors.especialidad ? 'inputError' : null %>">
                            Especialidad*</label>
                        <select class="form-select" aria-label="Default select example" name="especialidad">
                            <option selected disabled>Seleccione una especialidad.</option>
                            <% for( let especialidad of especialidades) { %>
                                <option value="<%= especialidad.id %> ">
                                    <%= especialidad.nombre %>
                                </option>
                                <% } %>
                                    <% if(locals && locals.errors) {%>
                                        <% if (locals.errors.especialidad) {%>
                                            <h3 class="errors"><i class="fa-sharp fa-solid fa-xmark"></i>
                                                <%= locals.errors.especialidad.msg %>
                                            </h3>
                                            <% } %>
                                                <% } %>
                        </select>
                    </div>
                    <div>
                        <div class="col">
                            <label>Matrícula*</label>
                            <div class="input-group mb-3">
                                <select class="btn btn-outline-secondary dropdown-toggle">
                                    <option selected disabled>Tipo</option>
                                    <option value="MN" name="matriculaType">M.N.</option>
                                    <option value="MP" name="matriculaType">M.P.</option>
                                </select>
                                <input type="text" name="matricula" class="form-control"
                                    aria-label="Text input with dropdown button" placeholder="Máximo 6 dígitos.">
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5>Prácticas Médicas</h4>
                            <div id="checkboxArea">

                            </div>
                            <div>
                                <div class="spinner-border" role="status" id="loadingSpinner">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <span id="loadSpan" style="margin-left: 5px; font-style: italic;">Cargando prácticas
                                    médicas...</span>
                            </div>
                    </div>
                    <div class="col">
                        <h5>Horario de atención</h5>
                        <label>Seleccione los días de atención</label>
                        <div class="d-flex justify-content-between">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxLunes" value="lunes">
                                <label class="form-check-label" for="inlineCheckbox1">Lunes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxMartes" value="martes">
                                <label class="form-check-label" for="inlineCheckbox1">Martes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxMiercoles" value="miercoles">
                                <label class="form-check-label" for="inlineCheckbox1">Miércoles</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxJueves" value="jueves">
                                <label class="form-check-label" for="inlineCheckbox1">Jueves</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxViernes" value="viernes">
                                <label class="form-check-label" for="inlineCheckbox1">Viernes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" name="diaDeAtencion" type="checkbox"
                                    id="checkboxSabado" value="sabado">
                                <label class="form-check-label" for="inlineCheckbox1">Sábado</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between" id="zonaHorariaBox">
                            <div class="zonaHoraria visibility-hidden" id="lunes">
                                <h6>Inicio</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_inicio">
                                <h6>Fin</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_fin">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                            <div class="zonaHoraria visibility-hidden" id="martes">
                                <h6>Inicio</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_inicio">
                                <h6>Fin</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_fin">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                            <div class="zonaHoraria visibility-hidden" id="miercoles">
                                <h6>Inicio</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_inicio">
                                <h6>Fin</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_fin">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                            <div class="zonaHoraria visibility-hidden" id="jueves">
                                <h6>Inicio</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_inicio">
                                <h6>Fin</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_fin">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                            <div class="zonaHoraria visibility-hidden" id="viernes">
                                <h6>Inicio</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_inicio">
                                <h6>Fin</h6>
                                <input type="time" min="08:00" max="19:00" name="hora_fin">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                            <div class="zonaHoraria visibility-hidden" id="sabado">
                                <h6>Inicio</h6>
                                <input type="time" name="hora_inicio" min="08:00" max="13:00">
                                <h6>Fin</h6>
                                <input type="time" name="hora_fin" min="08:00" max="13:00">
                                <h6>Intérvalo</h6>
                                <input class="intervaloInput" type="number" placeholder="En minutos">
                            </div>
                        </div>
                    </div>
                    <h6>* Campos obligatorios</h6>
                    <button type="submit" class="btn btn-success" id="liveAlertBtn">Añadir usuario </button>
                    <a href="/prestadores/admin/users"><button type="button" class="btn btn-danger">Volver</button></a>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../js/agregarUsuario.js"></script>
    <script src="../js/dateToday.js"></script>
    <script src="../js/validations/agregarUsuarioValidations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/checkboxPracticaMedica.js"></script>
</body>

</html>